/* additional styles */
*{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #F96E0B;
}
.primary-btn{
    background-color: #F96E0B;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
/* header section styling */
.header-section{
    background-color: #fff8f3;
    background-image: url("../images/header_bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 120px;
}
.nav-title{
    font-size: 45px;
    color: #181818;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin-left: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
    transition: color 0.3s ease;
}
nav a:hover{
    color: #F96E0B;
}
/* banner section styling */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 120px;
}
.banner-content{
    max-width: 450px;
}
.banner-greeting{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: -0;
}
.banner-title{
    font-size: 70px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: -0;
}
.banner-disc{
    font-size: 17px;
    color: #757575;
}
button.btn {
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #F96E0B;
    color: #F96E0B;
    padding: 13px 41px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 12px;
}
.banner .profile-img{
    width: 500px;
}